apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform
  namespace: lcs
  labels:
    app: platform
spec:
  minReadySeconds: 5
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 60
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: platform
  template:
    metadata:
      labels:
        app: platform
    spec:
      imagePullSecrets:
      - name: ecr-docker-login
      containers:
      - name: platform
        image: 615740825886.dkr.ecr.eu-west-3.amazonaws.com/lynceus-platform:0.4.2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 250m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 512Mi
